.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  ≠≠
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  
  
  .main {
    display: flex;
    height: 100vh;
    position: fixed;
    background: white;
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;

  }
  .right {
    height: 100vh;
    width: 50vw;
    background-color: black;
  }
  .right>img{
    width: auto;
    height: 100vh;
  }
  .left_container{
    align-items: center;
    justify-items: center;
    width: 40vw;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }

  a {
    text-decoration: none;
    color: black;
  }
  #text {
    border-radius: 0.3vw;
    background-color: rgb(228, 227, 227);
    border-style: none;
    height: 4vh;
    width: 40vw;
  } 
  .input_text {
    align-self: flex-start;
    margin-bottom: 0.2vw;
    margin-top: 1vw;
  }

  ::placeholder {
    align-items: end;
    color: grey;
    text-align: left;
    padding-left: 0vw;
    opacity: 60;
  }
  input[type=text]{
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
  }

  input[type=password]{
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
  }
  .check {
    display: flex;
    gap: 0.3vw;
    left: 10px;
    width: 40vw;
  }
  .login {
    padding: 1vh 5vw;
    border-radius: 0.6vw;
    border-style: none;
    background-color: rgb(228, 227, 227);
    font-size: 1vw;
  }