:root {
  --searchbar-bg: white;
}

.creator {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #222;
  color: #fff;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 0px 12px rgba(255, 255, 255, 0.4);
  z-index: 1000;
}

/* SIDEBAR */
.sidebar {
    flex-shrink: 0;
    height: 100vh;
    width: 225px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
    position: fixed;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-section img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 25px;
}

.profile-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.profile-name {
    font-weight: bold;
    font-size: 20px;
}

.sidebar-menu-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 25px;
}

.sidebar-menu-section img {
    width: 20px;
    height: 20px;
}

.sidebar a {
    border: none;
    color: black;
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: left;
    gap: 10px;
}

/* .sidebar button:hover {
    background: #333;
} */

.logout-btn {
    width: 108.28px;
    gap: 1vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
}

.logout-btn img {
    width: 20px;
    height: 20px;
}

/* MAIN CONTENT */
.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 50px;
    padding: 50px 40px;
    margin-left: 225px;
    background: #2c3e50;
    min-height: 100vh;
}

.searchbar-section {
background: var(--searchbar-bg);
border-radius: 12px;
padding: 15px 25px;
gap: 20px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.searchbar {
flex: 1;
padding: 5px 15px;
border: 1px solid #ccc;
border-radius: 30px;
}

.search-right-icon {
display: flex;
justify-content: flex-end;
align-items: center;
gap: 10px;
}

.search-right-icon img {
width: 24px;
height: 24px;
border-radius: 50%;
}

/* WELCOME TEXT */
.welcome-text-section {
    color: white;
}

.welcome-main {
    font-weight: bold;
    font-size: 70px;
}


/* SEARCH */
.bottom-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#search-students {
  padding: 10px 20px;
  border-radius: 20px;
  height: 45px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.right > a {
  border-radius: 3vw; /* keep just one */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  background-color: #FFBAF8;
  color: white;
  text-decoration: none;
  font-size: 1vw;
  text-align: center;
  width: fit-content;
  height: 45px;
}

.filter>img {
  height: 20px;
}

.filter {
  background-color: transparent !important;
  border: 0.2vw solid #FFBAF8 !important;
  color: #FFBAF8 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.right>a>strong {
  margin-right: 0.5vw;
}

/* Section 1 */

.section1{
display: grid;
grid-template-columns: auto auto auto auto;
width: 100%;
column-gap: 1vw;
gap: 2vh;
font-size: 1vw;
color: #303972;
}

.teacher {
background-color: white;
border-radius: 10px;
/* padding: 1vw; */
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
/* gap: 1vw; */
/* height: 34vh; */
padding: 2vw 1vw 2vw 1vw;
}

.teacher-top {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1.5vh;
}

.teacher-bottom {
margin-top: 2vh;
}

.teacher-bottom > img {
padding-left: 0.5vw;
padding-right: 0.5vw;
}

.dot {
height:6vw;
width: 6vw;
background-color: #C1BBEB;
border-radius: 50%;
display: inline-block;
}

.dot-up {
display: flex;
gap: 0.2vw;
margin-left: 12vw;
margin-bottom: 19.5vh;
position: absolute;
align-items: start;
justify-content: flex-start;
}

#small {
height:0.4vw;
width: 0.4vw;
background-color: #C1BBEB;
border-radius: 50%;
display: inline-block;
}