:root {
  --searchbar-bg: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  /* position: fixed; */
  background: #582C4D;
}

.section1,
.section2,
.section3 {
  font-size: 1vw;
  color: #303972;
}

.calendar,
.performance,
.unpaid,
.finance {
  background-color: white;
  border-radius: 10px;
  padding: 1vw;
}

/* Sidebar Start */

.sidebar {
  /* border: 4px solid red; */
  background: #ffffff;
  color: rgb(0, 0, 0);
  position: fixed;
  left: 0;
  top: 0;
  width: 15vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.profile {
  /* border: 4px solid rgb(0, 255, 26); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 15vw;
}

.sidebar-menu {
  /* border: 4px solid rgb(0, 255, 26); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  justify-content: center;

}

.sidebar-menu>a>img {
  width: 1vw;
  height: auto;
}

.sidebar-menu>a {
  gap: 0.4vw;
}

.sidebar a {
  /* border: 4px solid rgb(255, 247, 0); */
  background: #ebeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5vw 3vw;
  border-radius: 50px;
  font-size: 1vw;
}

.sidebar a:hover {
  background: #d3d2d2;
}

.logout a {
  width: 13vw;
  background: #1f1f1f;
  color: white;
}

.logout a:hover {
  background: #303030;
}

/* Sidebar End */


.content {
  /* border: 4px solid rgb(0, 255, 26); */
  display: flex;
  width: 85vw;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
  margin-left: 15vw;
  gap: 1vw
}

/* Searchbar Start */

.searchbar-section {
  /* border: 4px solid rgb(0, 255, 26); */
  background: var(--searchbar-bg);
  border-radius: 12px;
  padding: 1.5vh 1vw;
  gap: 1vw;
  width: 75vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar {
  flex: 1;
  padding: 0.5vh 1vw;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.search-right-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.search-right-icon img {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
}

/* Searchbar Ends */


.main-text-container {
  display: flex;
  width: 85vw;
  padding-left: 5vw;
  color: white;
}

.main-text {
  /* border: 2px solid red; */
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  padding: 1vw 0;
}

/* Section 1 */

.section1 {
  display: grid;
  grid-template-columns: auto;
  width: 75vw;
  gap: 2vh;
}

.performance {
  /* border: 2px solid blue; */
  display: flex;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.container {
  background: white;
  width: 71vw;
  margin: 10px 0 10px 0;
}

.legend-custom {
  display: flex;
  gap: 3vw;
  font-weight: bold;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.6vw;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.green-dot {
  border: 2px solid #00ff7f;
}

.red-dot {
  border: 2px solid red;
}

.top-performance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 71vw;
}

/* Section 1 Ends */




/* Section 2 */

.section2 {
  display: grid;
  grid-template-columns: 36.5vw auto;
  column-gap: 1vw;
  width: 75vw;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  width: 36.5vw;
  border-radius: 10px;
  background-color: white;
}

.calendar {
  display: flex;
  flex-direction: column;
  width: 36.5vw;
}

.calnedar>ul {
  list-style-type: none;
}

.weekdays {
  padding: 1vw 0;
  background-color: #ddd;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.weekdays li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 12px;
}

.days {
  padding: 1vw 0;
  background: #eee;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;

}

.days li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 4.5vw;
  height: 4.5vw;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white;
}

.finance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #444;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.blue {
  background-color: #bfc9ff;
}

.brown {
  background-color: #c5b4a3;
}




/* Section 3 Start */

.section3 {
  display: grid;
  grid-template-columns: auto;
  width: 75vw;
  column-gap: 1vw;
  gap: 2vh;
}

.unpaid>img {
  width: 72vw;
}


.icon {
  display: flex;
  justify-content: space-between;
  width: 10vw;
}

.profile>img {
  width: 13vw;
}

.sidebar h3,
.sidebar h2 {
  font-size: 1.2vw;
}


.navigation>img {
  width: 1.5vw;
}