/* WELCOME TEXT */
.welcome-text-section {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome-main {
    font-weight: bold;
    font-size: 70px;
}

/* DROPDOWN MENU */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    color: var(--text-light);
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.arrow {
    margin-left: 8px;
    transition: transform 0.2s ease;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--text-light);
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 5px 0;
    display: none;
    width: 180px;
    overflow: hidden;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 14px;
}

.dropdown-menu li:hover {
    background: #f4f4f4;
}

.dropdown.active .dropdown-menu {
    display: block;
}

.dropdown.active .arrow {
    transform: rotate(180deg);
}

/* CALENDAR */
.calendar-card {
    padding: 50px 30px;
    border-radius: 12px;
    background: white;
    color: black;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px;
    gap: 30px;
}

.nav-btn {
    background: white;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.calendar-weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 30px 5px;
    width: 100%;
    margin-bottom: 30px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 30px 5px;
    flex: 1;
    width: 100%;
}

.calendar-weekdays div {
    font-size: 20px;
    font-weight: 600;
    color: #999;
}

.calendar-days div {
    font-size: 20px;
    border-radius: 50%;
    transition: background 0.3s;
}

.calendar-days div:hover {
    background: #e6f5ea;
}

.red {
    color: red;
}

.gray {
    color: #ccc;
}