/* WELCOME TEXT */
.welcome-text-section {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome-main {
    font-weight: bold;
    font-size: 70px;
}

/* DROPDOWN MENU */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    color: var(--text-light);
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.arrow {
    margin-left: 8px;
    transition: transform 0.2s ease;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--text-light);
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 5px 0;
    display: none;
    width: 180px;
    overflow: hidden;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 14px;
}

.dropdown-menu li:hover {
    background: #f4f4f4;
}

.dropdown.active .dropdown-menu {
    display: block;
}

.dropdown.active .arrow {
    transform: rotate(180deg);
}

/* CLASSES CONTENT */
.classes-content {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.class-group {
    /* margin-bottom: 15px; */
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}

.class-header {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.class-list {
    background-color: #f0f0f0;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    flex-wrap: 1;
    padding: 30px 40px;
}

.class-list>.class-item {
    /* max-width: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
}

.class-list>.class-item img {
    width: 150px;
    margin-bottom: 10px;
}

.section-bar{
    width: 100%;
    height: 2px;
    background-color: black;
    opacity: 0.2;
}