/* GENERAL/ALL */
:root {
    --ijo: #2E4D2E;
    --primary-bg: #762f2f;
    --sidebar-bg: white;
    --text-light: white;
    --text-dark: black;
    --button-bg: rgb(220, 220, 220);
    --button-hover-bg: #333;
    --searchbar-bg: white;
    --tab-bg: white;
    --tab-active-bg: #f8f8f8;
}
.creator {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #222;
    color: #fff;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 0px 12px rgba(255, 255, 255, 0.4);
    z-index: 1000;
}

/* GENERAL/ALL */
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* padding: 20px; */
}

/* SIDEBAR */
.sidebar {
    flex-shrink: 0;
    height: 100vh;
    width: 225px;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
    position: fixed;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-section img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 25px;
}

.profile-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.profile-name {
    font-weight: bold;
    font-size: 20px;
}

.sidebar-menu-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 25px;
}

.sidebar-menu-section img {
    width: 20px;
    height: 20px;
}

.sidebar a {
    border: none;
    color: black;
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: left;
    gap: 10px;
}

.sidebar button:hover {
    background: #333;
}

.logout-btn {
    width: 108.28px;
}

.logout-btn img {
    width: 20px;
    height: 20px;
}

/* MAIN CONTENT */
.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 50px;
    width: 100%;
    padding: 50px 40px;
    margin-left: 225px;
    background: #254F1A;
    min-height: 100vh;
}

.searchbar-section {
    background: white;
    border-radius: 15px;
    padding: 10px 20px;
    gap: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar {
    flex: 1;
    width: 100%;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 30px;
}

.search-right-icon {
    display: flex;
    align-items: center;
    width: auto;
    gap: 20px;
}

.search-right-icon img {
    width: 20px;
    height: 20px;
}

/* WELCOME TEXT */
.welcome-text-section {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome-main {
    font-weight: bold;
    font-size: 70px;
}

/* DROPDOWN MENU */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    color: var(--text-light);
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.arrow {
    margin-left: 8px;
    transition: transform 0.2s ease;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--text-light);
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    margin: 5px 0;
    display: none;
    width: 180px;
    overflow: hidden;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 14px;
}

.dropdown-menu li:hover {
    background: #f4f4f4;
}

.dropdown.active .dropdown-menu {
    display: block;
}

.dropdown.active .arrow {
    transform: rotate(180deg);
}

/* CALENDAR */
.calendar-card {
    padding: 50px 30px;
    border-radius: 12px;
    background: white;
    color: black;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px;
    gap: 30px;
}

.nav-btn {
    background: white;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.calendar-weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 30px 5px;
    width: 100%;
    margin-bottom: 30px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 30px 5px;
    flex: 1;
    width: 100%;
}

.calendar-weekdays div {
    font-size: 20px;
    font-weight: 600;
    color: #999;
}

.calendar-days div {
    font-size: 20px;
    border-radius: 50%;
    transition: background 0.3s;
}

.calendar-days div:hover {
    background: #e6f5ea;
}

.red {
    color: red;
}

.gray {
    color: #ccc;
}