/* WELCOME TEXT */
.welcome-text-section {
    color: white;
}

.welcome-main {
    font-weight: bold;
    font-size: 70px;
}

.welcome-sub {
    font-weight: normal;
    font-size: 40px;
}

/* SECTION */
.section1-cards-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.statistics-card,
.task-progress-card,
.performance-card,
.calendar-card {
    flex: 1;
}

/* CARD 1 */
.statistics-card {
    padding: 30px;
    border-radius: 15px;
    background: white;
    color: black;
    min-width: 400px;
    max-width: 430px;
    width: fit-content;
    height: fit-content;
    display: flex;
}

.stats-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
}

.stats-title .stats-main {
    font-weight: bold;
    font-size: 20px;
}

.stats-title .stats-sub {
    font-weight: normal;
    font-size: 16px;
}

.stats-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats-details {
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 15px;
}

.stats-details img {
    width: 35px;
}

.stats-wrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.stats-wrap .text-main {
    font-weight: normal;
}

.stats-wrap .text-sub {
    font-weight: bold;
}

.stats-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-progress {
    position: relative;
    width: 150px;
    height: 150px;
}

.circular-progress svg {
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
}

.circular-progress circle {
    fill: none;
    stroke-width: 7;
    stroke-linecap: round;
}

.circular-progress .bg {
    stroke: #eef1fa;
}

.circular-progress .progress {
    stroke: #57b97f;
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * 75) / 100);
    transition: stroke-dashoffset 0.5s ease;
}

.circular-progress .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.circular-progress .text h2 {
    margin: 0;
    font-size: 28px;
    color: #57b97f;
}

.circular-progress .text p {
    margin: 0;
    font-size: 14px;
    color: #777;
}

/* CARD 2 */
.task-progress-card {
    padding: 30px;
    border-radius: 15px;
    background: white;
    color: black;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.task-wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.task-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* CARD 3 */
.performance-card {
    padding: 30px;
    border-radius: 15px;
    background: white;
    color: black;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.performance-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.performance-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.performance-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}

.rectangle {
    width: 15px;
    height: 15px;
    background-color: #57b97f;
    border-radius: 5px;
    /* optional, for rounded corners */
}

.peformance-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.peformance-img img {
    width: 120px;
}

/* CARD 4 */
.calendar-card {
    padding: 30px;
    border-radius: 12px;
    background: white;
    color: black;
    max-width: 290px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    gap: 10px;
}

.nav-btn {
    background: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.calendar-weekdays,
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 5px;
}

.calendar-weekdays div {
    font-size: 12px;
    font-weight: 600;
    color: #999;
    margin-bottom: 10px;
}

.calendar-days div {
    font-size: 14px;
    padding: 6px;
    border-radius: 50%;
    transition: background 0.3s;
}

.calendar-days div:hover {
    background: #e6f5ea;
}

.red {
    color: red;
}

.gray {
    color: #ccc;
}

/* ANNOUNCEMENT */
.annoucement-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.annoucement-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.annoucement-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.annoucement-card {
    padding: 30px;
    border-radius: 15px;
    background: white;
    color: black;
    flex: 1;
    width: fit-content;
    height: fit-content;
    ;
    display: flex;
    flex-direction: column;
}

.annoucement-img img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.annoucement-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 40px;
}

.annoucement-text .main {
    font-weight: bold;
    font-size: 20px;
}

.annoucement-text .sub {
    padding: 3px 10px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    color: red;
    border: 2px solid red;
}

.annoucement-profile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.annoucement-profile img {
    width: 35px;
    border-radius: 50%;
}

.annoucement-profile .profile-name {
    font-size: 16px;
    font-weight: bold;
}

.annoucement-profile .profile-role {
    font-size: 14px;
    font-weight: normal;
}